/* Mars Rover CSS */
body {
  font-family: 'Futura', 'Helvetica', Arial, sans-serif;
  background-color: beige;
}

header.primary{
  background-color:#2662cb;
  color: #fff;
  padding: 20px;
  text-align: center;

}

header.primary h1{
  font-size: 40px;
  margin-bottom: 30px;
}

header.primary nav ul{
display: flex;
justify-content: center;
}

header.primary nav ul li{ 
    margin-right: 25px;
}

header.primary nav ul li a{
    margin-right: 25px;
    color: #fff;
}

footer.primary{
  background-color:#2662cb;
  color: #fff;
  padding: 10px;
  text-align: center;

}

footer.primary p{
  font-size: 15px;
  margin-bottom: 25px;
}

footer.primary a{
    color: #fff;
}
