/* Mars Rover Homepage CSS */

.center-text {
    text-align: center;
}

body {
  background:
     url(rover.jpg)    /* image */
     top center / 200px 200px /* position / size */
     no-repeat                /* repeat */
     fixed                    /* attachment */
     padding-box              /* origin */
     content-box              /* clip */
     rgb(161, 111, 65);                     /* color */
}

